:root {
    font-family: sans-serif;
    --primary-color: rgb(145, 3, 3);
    --text-border: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,  1px 1px 0 #646464;
      
      
}

body {
    font-size: 52px;
}



#general-wrapper {
    padding: 10px;
    /* height: 1604px;
    width: 1200px; */
    border: 1px solid black;
    height: 3508px;
    width: 2480px;
}

h1,
h2 {
    color: var(--primary-color);
    text-shadow: var(--text-border);
    text-transform: uppercase;
    font-size: 68px;
   }

h3 {
    font-size: 54px;
}

h4 {
    font-size: 48px;
}

/*ASIDE*/

aside {
    width: 33%;
    padding: 20px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 39%, rgba(214, 3, 3, 0.5) 100%);


}

aside .img-container {
    display: flex;
    width: 800px;
    aspect-ratio: 1/1;
    transform: translateX(20%);
}


aside .img-container img {
    width: 150%;
    height: 150%;
    transform: translate(0%, -10%);
}

aside section {
    padding-top: 30px;
}

aside section h2 {
 color: var(--primary-color);
 text-shadow: var(--text-border);
 text-transform: uppercase;
}



aside section span{
    padding-left: 30px;
}

aside #contacts i {
    margin-right: 10px;
    min-width: 30px;
    aspect-ratio: 1/1;
}


#competenze-tecniche li {
    display: flex;
    align-items: center;
}








/*MAIN*/
main {
    width: 67%;
    padding: 50px;
}

main #about-me-text,
main #first-hr {
    margin-left: 140px;
}